﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse sidenav navbarMaster">
        <div class="cap">
            <img src="~/Content/Images/apprenda.png" alt="Apprenda" />
        </div>
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div>
                <ul class="nav">
                    <li>
                        <button id="btnSave" type="button" class="editor-btn">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                            Save
                        </button>
                    </li>
                    <li>
                        <button id="btnCancel" type="button" class="editor-btn">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            Cancel
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <footer></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
</body>
</html>
