﻿@{
    ViewBag.Title = "Home Page";
}

<div class="header">
    <h1>Resource Editor</h1>
</div>

<div class="mainContent">

    @*<div class="btn-heading-widget">
            <button class="btn btn-primary">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </div>*@

    <div class="content-collection">

        <div class="text-info text-left">
            <h4><b>Application:</b> @ViewBag.Application</h4>
            <h4><b>Archive:</b> @ViewBag.Position</h4>
            <h4><b>Context:</b> @ViewBag.InteractionId</h4>
        </div>

        <div id="contentFiles">
            <div id="dirParent" class="FileItem badge">
                <a href="../areditor--v1/Home/GetNewPath?Name=..">
                    <span class="glyphicon glyphicon-folder-open" />
                    <p class="item-text">Parent Directory</p>
                </a>
            </div>
            @foreach (var directory in ViewBag.FilesContext.DirectoryStubs)
            {
                <div class="FileItem badge">
                    <a href="../areditor--v1/Home/GetNewPath?Name=@directory.Name">
                        <span class="glyphicon glyphicon-folder-open glyphicon-resize-full" />
                        <p class="item-text">@directory.Name</p>
                    </a>
                </div>
            }
            @foreach (var file in ViewBag.FilesContext.FileStubs)
            {
                <div class="FileItem badge">
                    <span class="glyphicon glyphicon-file" />
                    <p class="item-text">@file.Name</p>
                </div>
            }
        </div>
    </div>
</div>

<div class="action-bar">
    <div class="bar-actions">
        <div class="action">
            <button id="btnDownload" type="button" class="editor-btn action-btn">
                <span class="glyphicon glyphicon-cloud-download"></span>
                Edit
            </button>
        </div>
        <div class="action">
            <button id="btnUpload" type="button" class="editor-btn action-btn">
                <span class="glyphicon glyphicon-cloud-upload"></span>
                Upload
            </button>
        </div>
        <div class="action">
            <button id="btnDelete" type="button" class="editor-btn action-btn">
                <span class="glyphicon glyphicon-trash "></span>
                Delete
            </button>
        </div>
    </div>
</div>