﻿.FileItem {
    margin: 5px;
    padding: 5px;
    background-color: #d7e5ee;
    color: #5e7d92;
    width: 150px;
    height: 12vh;
    max-width: 150px;
    display: inline-grid;
    font-size: 12px;
    cursor: pointer;
    transition: color 0.25s ease-in-out;
}

    .FileItem :hover {
        color: mediumaquamarine;
        transition: color 0.25s ease-in-out;
    }

.selected {
    color: mediumaquamarine;
}

.glyphicon {
    font-size: 30px;
    width: 100%;
    display: block;
    padding-bottom: 10px;
    text-align: center;
}

.item-text {
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 14px;
    margin-top: 15px;
    white-space: pre-wrap;
    font-family: brandon-grotesque-regular;
}

.FileItem span {
    word-break: break-all;
    word-wrap: break-word;
}

.FileItem a {
    text-align: center;
    font-size: 16px;
}

.navbarMaster {
    background-color: rgb(0, 42, 71);
}

.action-bar {
    position: fixed;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-sizing: border-box;
    height: 58px;
    right: 28px;
    bottom: 0;
    left: 153px;
    z-index: 3;
    overflow: visible;
    margin: 0;
    text-shadow: 0 1px 1px rgba(255,255,255,0.15);
    box-shadow: 0 0 8px 0 rgba(0,35,59,0.9);
    background: linear-gradient(to bottom, #cbdeef 0%, #9dbcd2 100%);
    transition: left 0.35s;
}

.bar-actions {
    float: right;
    font-family: brandon-grotesque-regular;
    height: 100%;
}

    .bar-actions .action {
        position: relative;
        float: left;
    }

        .bar-actions .action :hover {
            background: #d0dde7;
            color: mediumaquamarine;
        }

    .bar-actions .action-btn {
        font-family: brandon-grotesque-regular;
        padding: 9px 0 4px;
        border-left: 1px solid #9cb3c4;
        border-radius: 0;
        /*font-size: .875rem;*/
        font-size: 14px;
        text-shadow: 0 1px 0 rgba(255,255,255,0.5);
        text-align: center;
        text-transform: capitalize;
        transition: all 0.2s;
        cursor: pointer;
        min-width: 92px;
        color: #238ad0;
        height: 100%;
    }

    .bar-actions .action-btn .glyphicon {
        font-size: 25px;
        padding:  0 0 5px 0;
    }

        .bar-actions .action-btn .disabled {
            color: #85a4b9;
            cursor: default;
        }

h1, h2, h3, h4 {
    font-family: brandon-grotesque-light;
    font-style: normal;
    font-weight: 100;
    letter-spacing: .025em;
}


body {
    padding-left: 166px;
    padding-right: 38px;
    padding-bottom: 20px;
    background-color: rgb(1,102,170);
    background-image: linear-gradient(to bottom, #0167ac 0%, #014b7f 100%);
    background-repeat: repeat-x;
    height: 100vh;
    font-family: brandon-grotesque-regular;
    font-style: normal;
    font-weight: 300;
    letter-spacing: .025em;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mainContent {
    background-clip: border-box;
    background-attachment: scroll;
    background-color: #3083bb;
    background-origin: padding-box;
    background-size: auto;
    display: block;
    border: 1px solid #5096c5;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    float: left;
    clear: both;
    width: 100%;
    padding: 20px;
}

.content-collection {
    background: #ebf2f7;
    padding: 20px;
}

.header {
    height: 85px;
    color: #fff;
    float: left;
}

.btn-heading-widget {
    margin-bottom: 20px;
    float: right;
    padding: 15px;
}

.nav {
    padding-top: 33px;
    padding-bottom: 33px;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}

.sidenav {
    height: 100%;
    width: 125px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    border-radius: 0px;
    border: 0px;
    box-shadow: 0 0 8px 0 #002a47;
}

    .sidenav li .editor-btn {
        padding: 15px;
        color: #155989;
        font-size: 16px;
        /*font-size: 1rem;*/
        line-height: 2.25rem;
        cursor: pointer;
        transition: color 0.25s ease-in-out;
        font-style: normal;
        font-weight: 300;
        letter-spacing: .025em;
        width: 100%;
        float: none;
    }

    .sidenav li :hover {
        color: mediumaquamarine;
    }

    .sidenav li .editor-btn .glyphicon {
        font-size: 40px;
    }

.cap {
    height: 85px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 15px;
    display: block;
    background-color: rgb(1, 53, 91);
}

    .cap img {
        display: block;
        margin: 0 auto;
        border: 0;
    }

.editor-btn {
    font-family: brandon-grotesque-regular;
    font-size: inherit;
    font-weight: inherit;
    display: inline-block;
    border-radius: 3px;
    background-color: transparent;
    text-align: center;
    white-space: nowrap;
    outline: 0;
    border: 0;
    vertical-align: middle;
    transition: all 0.25s ease-in-out;
}


@font-face {
    font-family: 'brandon-grotesque-regular';
    src: url('../fonts/brandon_reg-webfont.eot');
    src: url('../fonts/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon_reg-webfont.woff') format('woff'), url('../fonts/brandon_reg-webfont.ttf') format('truetype'), url('../fonts/brandon_reg-webfont.svg#glyphicons-halflingsregular') format('svg');
}

@font-face {
    font-family: 'brandon-grotesque-light';
    src: url('../fonts/brandon_light-webfont.eot');
    src: url('../fonts/brandon_light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon_light-webfont.woff') format('woff'), url('../fonts/brandon_light-webfont.ttf') format('truetype'), url('../fonts/brandon_light-webfont.svg#glyphicons-halflingsregular') format('svg');
}

@font-face {
    font-family: 'brandon-grotesque-medium';
    src: url('../fonts/brandon_med-webfont.eot');
    src: url('../fonts/brandon_med-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon_med-webfont.woff') format('woff'), url('../fonts/brandon_med-webfont.ttf') format('truetype'), url('../fonts/brandon_med-webfont.svg#glyphicons-halflingsregular') format('svg');
}

@font-face {
    font-family: 'apprenda-icons';
    src: url('../fonts/brandon_med-webfont.eot');
    src: url('../fonts/brandon_med-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon_med-webfont.woff') format('woff'), url('../fonts/brandon_med-webfont.ttf') format('truetype'), url('../fonts/brandon_med-webfont.svg#glyphicons-halflingsregular') format('svg');
}
