﻿@model Apprenda.ResourceEditor.InteractionContext

<div>
    <h4>InteractionContext</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenantAlias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenantAlias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenantGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenantGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicaitonAlias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicaitonAlias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VersionAlias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VersionAlias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VersionGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VersionGuid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
